/* colors  */

:root {
  --main-color: #232F3F;
  --light-grey: #EBECEE;
  --darker-light-grey: rgba(160, 160, 160, 0.568);
  --secondary-color: #E99211;
  --darker-secondary-color: rgba(233, 147, 17, 0.767);
--light-main-color: #465E7E;
}

/* theme */

html {
	min-height: 100%;
	position: relative;
}

.bg-primary {
	background-color: var(--light-grey) !important;
}

.bg-info {
	background-color: gray !important;
}

.main-color-bg {
	background-color: var(--main-color);
}

.sec-color {
	color: var(--secondary-color);
}

a:hover {
	text-decoration: none;
}

/*
    NAVBARS
*/

nav .navbar-nav .nav-item .nav-link {
	color: white;
}

nav .navbar-nav .nav-item .nav-link:hover {
	color: var(--secondary-color);
}

.dept-navbar {
	border-bottom: 1px var(--light-grey) solid;
	height: 35px;
}

.dept-navbar-item {
	height: 35px;
	padding: 6px;
	margin-right: 30px;
}

ul.navbar-nav :first-child .dept-navbar-item {
	padding: 0px;
}

.dept-navbar-item span {
	font-size: 14px;
	color: black;
}

.dept-navbar-item:hover {
	border-bottom: 3px var(--secondary-color) solid;
	text-decoration: none;
}

.dept-navbar-item:hover span {
	color: var(--secondary-color);
}

.form-control:focus {
	border-color: var(--secondary-color);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

/* Theme of overlays of IE and Chrome on input boxes */
input[type=search]::-ms-clear,
input[type=search]::-ms-reveal,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	color: var(--secondary-color) !important;
	background-color: var(--secondary-color) !important;
}

#navbarSupportedContent .form-control {
	max-width: 200px;
	margin-right: 10px;
}

.cart[data-count]:after {
	position: absolute;
	right: 15%;
	top: 10%;
	content: attr(data-count);
	font-size: 75%;
	border-radius: 50%;
	line-height: 1em;
	color: var(--secondary-color);
	background: var(--light-grey);
	text-align: center;
	min-width: 1em;
}

@media only screen and (max-width: 991px) {
	.dept-navbar {
		display: none;
	}

	nav.nav-bar .collapse .fas.fa-sign-in-alt {
		padding-left: 0px !important;
		padding-right: 10px !important;
	}

	nav.nav-bar .collapse .fa-sign-in-alt:after {
		padding-left: 10px;
		content: "Sign-in";
	}

	nav.nav-bar .collapse .fa-shopping-cart:after {
		padding-left: 10px;
		content: "Cart";
	}

	nav.nav-bar .collapse .cart[data-count]:after {
		right: 40%;
		top: 10%;
	}
}

.secondary-nav-first-item {
	padding: 0px;
}

/*
    GLOBAL
*/


.single-product-info-container:hover,
.single-product-block:hover,
.product-block:hover {
	border: 0.1px var(--darker-light-grey) solid;
}

.img-responsive:hover {
	cursor: pointer;
}

.nav-icon {
	color: var(--secondary-color);
}

li {
	list-style-type: none;
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

/*
    FOOTER
*/
.push-down {
	position: absolute;
	bottom: 0;
}

footer a {
	color: var(--secondary-color);
}

footer a:hover {
	color: var(--darker-secondary-color);
}

@media only screen and (max-width: 768px) {
	.footer-ul {
		position: static;
		display: block;
		margin-bottom: 0px !important;
	}

}

@media only screen and (min-width: 768px) {
	.wrapper {
		margin: 0 0 300px 0 !important;
	}
}

footer {
	margin-top: 20px !important;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 250px !important;
	max-height: 500px !important;
}

.wrapper {
	margin: 0 0 520px 0;
	min-height: 100%;
}

footer .container-fluid {
	padding-bottom: 20px;
}

.footer-copyright {
	padding: 0 !important;
}

label.quantity {
	margin-right: 25px;
}

.product-quantity {
	width: 30px;
}

/*
    BUTTONS
*/
.btn-primary, .btn-secondary {
	background-color: var(--secondary-color) !important;
	border-color: var(--darker-secondary-color);
}

.btn-primary:hover, .btn-secondary:hover {
	background-color: var(--darker-secondary-color) !important;
	border-color: var(--darker-secondary-color);
}


/*
    Format conditions
*/
.max-text-width {
	max-width: 550px;
}

.ourteam {
	clear: both;
}

@media only screen and (min-width: 991px) {
	.space-title {
		margin-top: 40px !important;
	}

	.mobile-only {
		display: none !important;
	}

	.desktop-only {
		display: initial !important;
	}
}

.desktop-only {
	display: none;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: white;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.forgot {
  text-align: right;
  margin-bottom: 1em;
}

.alt {
  padding-top: 1em;
}

button > a {
	text-decoration: none;
	color: white;
}

.btn-facebook {
	background-color: rgb(59, 89, 152);
	color: white;
}

.btn-google {
	background-color: rgb(219,68,55);
	color: white;
}

.btn-lg {
	font-size: 1em;
}

/* HOME */


body {
	color: black;
}

.bg-primary
{
	background-color: var(--light-grey) !important;
}

.bg-info
{
	background-color: gray !important;
}

.main-color-bg {
	background-color: var(--main-color);
}

.main-color-border {
	border-color: var(--main-color);
}

.main-color-text {
	color: var(--main-color);
}

.sec-color {
	color: var(--secondary-color);
}

.main-color, .main-color a {
	color: white !important;
}

.line-through
{
	text-decoration: line-through;
	text-decoration-color: red;
	color: red;
}

.carousel {
	margin: 50px auto;
	padding: 0 70px;
	max-height: 300px;
}

.carousel .item {
	min-height: 330px;
    text-align: center;
	overflow: hidden;
}

.carousel .item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}

.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.alert-primary {
    margin: 10px;
}

.carousel .item .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.carousel .carousel-control {
	height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel.slide {
	margin-top: 30px;
}

/*	
	FAQ
*/
.card-header * {
	text-align: left;
}


/*
	Product-block
*/
.product-block {
	background-color: white;
	padding: 20px;
	padding-bottom: 20px;
	max-height: 300px !important;
	margin: 30px 0;
}

.product-block-title {
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
	float: left;
}

.seemore-block {
	font-size: 13px;
	position: relative;
	top: 4px;
	left: 10px;
}

.seemore-ind {
	font-size: 13px;
	position: absolute;
	right: 15px;
	bottom: 15px;
}

@media only screen and (max-width: 991px) {
	.single-product-block-container > .single-product-block:not(:first-child),
	.product-block .productSize:not(:first-child) {
        display: none;
	}
	
	.single-product-block,
	.product-block,
	.productSize {
		width: 95% !important;
		margin: auto;
	}

	.single-product-block-container,
	.product-block {
		margin-top: 20px;
		margin-bottom: 0px; 
	}
}

/*
	Single product block
*/

.single-product-block-container {
	display: flex;
	justify-content: space-between;
	height: 350px !important;
	margin: 30px 0;
}

.single-product-block {
	background-color: white;
	height: 350px !important;
	width: 30%;
	padding: 20px;
	position: relative;
}

.description {
	font-size: 12px;
	margin: 0 20px 0 12px;
}

/*
	Images
*/

.productSize {
	height: 200px;
	width: auto;
	padding: 0 !important;
}

.imagetiles {
	margin: 10px;
}

.imgSizing {
	margin: 0px !important;
	padding: 0 !important;
	display: block !important;
	margin: auto !important;
}

img {
	height: 100%;
	width: auto;
}

/*
	Carousel
*/
.carouselSizing {
	width: 1350px !important;
}

.carousel-control-next-icon {
	position: relative;
	right: 20px !important;
}

.carousel-control-prev-icon {
	position: relative;
	left: 20px !important;
}	

.carousel-item img {
	min-width: 300px !important;
	height: 100%;
	max-height: 350px !important;
}

@media only screen and (max-width: 650px) {
    .carousel {
		width: 100%;
		margin: 0 auto 0 auto !important;
		padding: 20px;
		padding-bottom: 0px;
	}
	
	.single-product-block-container {
		margin: 20px 0;
	}
}

.card-body {
	background-color: white;
}