.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: white;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.forgot {
  text-align: right;
  margin-bottom: 1em;
}

.alt {
  padding-top: 1em;
}

button > a {
	text-decoration: none;
	color: white;
}

.btn-facebook {
	background-color: rgb(59, 89, 152);
	color: white;
}

.btn-google {
	background-color: rgb(219,68,55);
	color: white;
}

.btn-lg {
	font-size: 1em;
}

/* HOME */


body {
	color: black;
}

.bg-primary
{
	background-color: var(--light-grey) !important;
}

.bg-info
{
	background-color: gray !important;
}

.main-color-bg {
	background-color: var(--main-color);
}

.main-color-border {
	border-color: var(--main-color);
}

.main-color-text {
	color: var(--main-color);
}

.sec-color {
	color: var(--secondary-color);
}

.main-color, .main-color a {
	color: white !important;
}

.line-through
{
	text-decoration: line-through;
	text-decoration-color: red;
	color: red;
}

.carousel {
	margin: 50px auto;
	padding: 0 70px;
	max-height: 300px;
}

.carousel .item {
	min-height: 330px;
    text-align: center;
	overflow: hidden;
}

.carousel .item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}

.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.alert-primary {
    margin: 10px;
}

.carousel .item .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.carousel .carousel-control {
	height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel.slide {
	margin-top: 30px;
}

/*	
	FAQ
*/
.card-header * {
	text-align: left;
}


/*
	Product-block
*/
.product-block {
	background-color: white;
	padding: 20px;
	padding-bottom: 20px;
	max-height: 300px !important;
	margin: 30px 0;
}

.product-block-title {
	font-size: 20px;
	font-weight: bold;
	margin-left: 10px;
	float: left;
}

.seemore-block {
	font-size: 13px;
	position: relative;
	top: 4px;
	left: 10px;
}

.seemore-ind {
	font-size: 13px;
	position: absolute;
	right: 15px;
	bottom: 15px;
}

@media only screen and (max-width: 991px) {
	.single-product-block-container > .single-product-block:not(:first-child),
	.product-block .productSize:not(:first-child) {
        display: none;
	}
	
	.single-product-block,
	.product-block,
	.productSize {
		width: 95% !important;
		margin: auto;
	}

	.single-product-block-container,
	.product-block {
		margin-top: 20px;
		margin-bottom: 0px; 
	}
}

/*
	Single product block
*/

.single-product-block-container {
	display: flex;
	justify-content: space-between;
	height: 350px !important;
	margin: 30px 0;
}

.single-product-block {
	background-color: white;
	height: 350px !important;
	width: 30%;
	padding: 20px;
	position: relative;
}

.description {
	font-size: 12px;
	margin: 0 20px 0 12px;
}

/*
	Images
*/

.productSize {
	height: 200px;
	width: auto;
	padding: 0 !important;
}

.imagetiles {
	margin: 10px;
}

.imgSizing {
	margin: 0px !important;
	padding: 0 !important;
	display: block !important;
	margin: auto !important;
}

img {
	height: 100%;
	width: auto;
}

/*
	Carousel
*/
.carouselSizing {
	width: 1350px !important;
}

.carousel-control-next-icon {
	position: relative;
	right: 20px !important;
}

.carousel-control-prev-icon {
	position: relative;
	left: 20px !important;
}	

.carousel-item img {
	min-width: 300px !important;
	height: 100%;
	max-height: 350px !important;
}

@media only screen and (max-width: 650px) {
    .carousel {
		width: 100%;
		margin: 0 auto 0 auto !important;
		padding: 20px;
		padding-bottom: 0px;
	}
	
	.single-product-block-container {
		margin: 20px 0;
	}
}

.card-body {
	background-color: white;
}


