header {
	font-size: 1.5em;
	font-weight: bold;
}

a > .username {
	color: black;
	text-decoration: none;
}

.container-fluid {
	padding-bottom: 70px;
}

.img-frame {
	width: 250px;
	height: 250px;
	margin: auto;
	margin-top: 20px;
}

.img-frame img {
	max-height: 100%;
	max-width: 100%;
	display:block;
    margin:auto;
}

.product-title {
	font-size: 25px;
	font-weight: bold;
}

.product-rating {
	margin-top: 5px;
	margin-right: 10px;
}

.product-buttons {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-buttons * {
	margin: 10px;
}

/*
	REVIEWS
*/

.reviews {
	padding: 20px;
	border-radius: 10px;
	margin-top: 30px;
	margin-bottom: 60px;
	clear: both;
}

div.review {
	position: relative;
	margin-bottom: 10px;
	margin-top: 5px;
}


.review .username {
	font-size: 16px;
	font-weight: bold;
}

div.review p {
	margin-top: 10px;
	padding-bottom: 30px;
	margin-bottom: 0;
}

div.review .date {
	position: absolute;
	right: 0;
	bottom: 0px;
	font-size: 12px;
}

.review .fa-flag {
	float: right;
	color: red;
	padding-top: 5px;
}

.review .fa-flag:hover {
	cursor: pointer;
}

.review .product-rating {
	margin-top: 0;
}

span.price {
	font-weight: bold;
	position: relative;
	top: 5px;
	left: -15px;
}

.n-ratings {
	font-weight: bold;
}

form#updateWishlist, form#updateCart, .reviewBtn {
	margin-top: 5px;
}

.reviewBtn {
	float:right;
}

.review-text-area {
	width: 100%;
	margin-top: 10px;
	min-height: 100px;
	padding: 0px 5px;
}

@media only screen and (min-width: 992px) {
	.img-frame {
		width: 400px;
		height: 400px;
		float: left;
	}

	.product-info {
		/* Firefox */
		width: -moz-calc(100% - 420px);
		/* WebKit */
		width: -webkit-calc(100% - 420px);
		/* Opera */
		width: -o-calc(100% - 420px);
		/* Standard */
		width: calc(100% - 420px);
		float: left;
		position: relative;
		left: 30px;
		top: 10px;
	}

	.reviews {
		clear: both;
		margin-top: 50px;
	}
}