.checkout-theme {
    background-color: white;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    border: var(--darker-light-grey) 0.5px solid;
    max-width: 500px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 20px !important;
}

.checkout-theme * {
    color: black !important;
}

.ship-opt {
    padding: 30px;
    background-color: var(--light-grey);
    font-size: 16px;
    border-radius: 5px;
    border: var(--darker-light-grey) 0.5px solid;
    margin: 10px;
}

.ship-opt:hover {
    border-color: grey;
}

@media only screen and (min-width: 991px) {
	.ship-container {
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center !important;
    }
}

.ship-container {
    display: flex;
    flex-direction: column;
}

.name-item:hover {
    text-decoration: underline;
}

.narrow {
    max-width: 350px;
    margin: auto;
    margin-bottom: 30px;
}