img.img-thumbnail {
	max-height: 300px;
}

.bg-primary
{
	background-color: orange !important;
}

.bg-secondary
{
	background-color: lightblue !important;
}

.bg-info
{
	background-color: gray !important;
}