body {
	color: black;
}

.container-profile {
	margin: 0px 2%;
}

#profile {
	border-radius: 10px;
	min-width: 180px;
}

.profile-aside {
	padding: 0px;
}

@media only screen and (max-width: 800px) {
	.profile-right {
		padding: 0px !important;
	}
}

.profile-right {
	padding-left: 50px;
}

#history h2,
#wishlist h2,
#edit h2 {
	padding: 10px;
	border-radius: 10px;
}

@media only screen and (max-width: 767px) {
	#profile {
		border-radius: 0px;
	}

	#history h2,
	#wishlist h2,
	#edit h2 {
		border-radius: 0px;
	}
}

@media only screen and (min-width: 916) {
	.profile-aside {
		flex: 0 0 25% !important;
		max-width: 25% !important;
	}

	.container-profile {
		margin: 40px 10% !important;
	}
}

.bg-primary {
	background-color: var(--light-grey) !important;
}

.bg-info {
	background-color: gray !important;
}

.main-color-bg {
	background-color: var(--main-color);
	color: gray;
}

.light-main-color-bg {
	background-color: var(--light-main-color);
	color: white;
}

.light-main-color-bg a {
	color: var(--secondary-color);
	text-decoration: none;
}

img {
	float: center;
}

.fas,
.far {
	color: var(--secondary-color);
}

h2 {
	color: white;
	background-color: var(--main-color);
}

#edit input {
	color: black;
}

#edit input:focus {
	color: black;
}

.single-product-info-container {
	background-color: white;
	min-height: 125px;
	margin: 0px auto;
	padding: 10px;
}

.single-product-info-text {
	text-align: left;
}

.single-product-info-container img {
	width: 100px;
	height: 100px;
	margin-right: 10px;
	float: left;
}

.single-product-info-text .title,
.single-product-info-text .price {
	font-weight: bold;
}

.received {
	font-weight: bold;
}

.received .fas {
	color: black;
}

#history a,
#wishlist a {
	color: black;
	text-decoration: none;
}

#history button {
	padding: 0 5%;
}

#history .col-6,
#wishlist .col-6 {
	padding: 0% 0%;
}

#history .state,
#wishlist .state {
	text-align: right;
}

#wishlist .single-product-info-text .oldprice {
	text-decoration: line-through;
	padding-right: 5px;
}

.remove {
	color: red;
}

/* PAYMENT STATES */
.pay-complt {
	color: green;
}

.pay-paid {
	color: blue;
}

.pay-wait {
	color: red;
}

.pay-wait-apprv {
	color: orangered;
}

.fa-circle {
	margin-right: 5px;
}

/*
	FORMS
*/
.form-edit-profile,
.form-edit-billing {
	padding: 10px;
	margin-bottom: 10px;
	padding-bottom: 70px !important;
}

.form-edit-profile :not(.form-control),
.form-edit-billing :not(.form-control) {
	color: white;
	text-align: left;
}

.btn-lg {
	font-size: 1em;
}

.card-body {
	padding: 0px;
}

#accordion span {
	color: black;
}

#accordion span:hover {
	cursor: pointer;
	text-decoration: underline;
}

.cart-info {
	color:black;
}

.step-by-step {
	display: block;
}

.deactivate {
	color: grey;
}

hr {
	margin: 5px;
}

.collapse {
	margin-bottom: 10px;
}