body {
	color: black;
}

.bg-primary {
	background-color: var(--light-grey) !important;
}

.bg-info {
	background-color: gray !important;
}

.main-color-bg {
	background-color: var(--main-color);
	color: gray;
}

.light-main-color-bg {
	background-color: var(--light-main-color);
	color: black;
}

.light-main-color-bg a {
	color: var(--secondary-color);
	text-decoration: none;
}

img {
	float: center;
}

.fas,
.far {
	color: var(--secondary-color);
}