.search-result-bar {
    height: 40px;
    line-height: 40px;
    border-top: 1px solid rgba(211, 211, 211, 0.959);
    border-bottom: 1px solid rgba(211, 211, 211, 0.959);
    padding-left: 10px;
    padding-right: 20px;
}

.search-count {
    display: inline-block;
    vertical-align: center;
    line-height: normal;
}

.result-count {
    font-size: 15px;
}

.single-product-info-container {
    background-color: white;
    width: 95%;
    height: 125px;
    margin: 10px auto;
    padding: 10px;
}

.single-product-info-text {
    padding-left: 110px;
}

.single-product-info-container img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    float:left;
}

.single-product-info-text .title, .single-product-info-text .price {
    font-weight: bold;
}

.single-product-info-text .oldprice {
    text-decoration: line-through;
    padding-right: 5px;
}

.single-product-info-text .oldprice:empty {
    padding-right: 0;
}