a>.title {
	color: black;
	text-decoration: none;
}

.search-result-bar {
	height: 40px;
	line-height: 40px;
	border-top: 1px solid rgba(211, 211, 211, 0.959);
	border-bottom: 1px solid rgba(211, 211, 211, 0.959);
	padding-left: 15px;
}

.search-count {
	display: inline-block;
	vertical-align: center;
	line-height: normal;
}

.result-count {
	font-size: 15px;
}

.single-product-info-container {
	background-color: white;
	width: 95%;
	min-height: 125px;
	margin: 10px auto;
	padding: 10px;
}

.single-product-info-text {
	padding-left: 110px;
}

.single-product-info-container img {
	width: 100px;
	height: 100px;
	margin-right: 10px;
	float: left;
}

.single-product-info-text .title,
.single-product-info-text .price {
	font-weight: bold;
}

.single-product-info-text .oldprice {
	text-decoration: line-through;
	padding-right: 5px;
}

.single-product-info-text .oldprice:empty {
	padding-right: 0;
}

/*
    FILTER
*/
.filter-container {
	height: 100%;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.filter {
	color: grey;
	height: 34px !important;
	width: 36px !important;
	padding: 2px 4px;
	border-radius: 5px;
}

.filter:hover {
	cursor: pointer;
	background-color: var(--light-grey);
}

.filter-circle {
	border-radius: 50%;
	background-color: var(--secondary-color);
	width: 20px;
	height: 20px;
	position: relative;
	right: 60px;
	top: 0px;
}

.filter-counter {
	z-index: 2;
	font-weight: bold;
	color: white;
	position: relative;
	top: -10px;
	right: -5px;
}

.modal-body {
	margin: auto;
	min-width: 300px;
}

.filter-title {
	margin-right: 20px;
	position: relative;
	top: 3px;
}

.fs20 {
	font-size: 20px;
}

.filter-clause {
	height: 100%;
	width: 100%;
	margin: auto;
}

.form-check-label {
	position: relative;
	bottom: 5px;
	left: 5px;
}

.form-check {
	padding: 0;
}