.bg-primary
{
	background-color: var(--light-grey) !important;
}

.bg-info
{
	background-color: gray !important;
}

.main-color-bg {
	background-color: var(--main-color);
}

.sec-color {
	color: var(--secondary-color);
}

.marginL10 {
    margin-left: 10%;
}


/*
    NAVBARS
*/

.dept-navbar {
    border-bottom: 1px var(--light-grey) solid;
    height: 35px;
}

.dept-navbar-item {
    height: 35px;
    padding: 6px;
    margin-right: 30px;
}

.dept-navbar-item span {
    font-size: 14px;
    color: black;
}

.dept-navbar-item:hover {
    border-bottom: 3px var(--secondary-color) solid;
    text-decoration: none;
}

.dept-navbar-item:hover span {  
    color: var(--secondary-color);
}

@media only screen and (max-width: 991px) {
    .dept-navbar {
        display: none;
    }
}


.single-product-info-container:hover,
.single-product-block:hover,
.product-block:hover {
    border: 0.1px var(--darker-light-grey) solid;
}

.img-responsive:hover {
    cursor: pointer;
}

.nav-icon {
	color: var(--secondary-color);
}

li {
    list-style-type: none;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}